/* ======== Branding section style ========  */

.branding_section {
  max-height: 450px;
  width: 1065px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 220px;
}



@media only screen and (max-width: 600px) {
  .branding_section {
    min-height: 665px;
    width: 378px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12px auto 0px auto;
  }

 

  .brandImg {
    width: 358px;
    height: 358px;
    margin-top: -22px;
  }
}
