/* Companies related CSS Styles  */

.companies_section {
  height: 28px;
  width: 1065px;
  margin-top: 157px;
}

.companies_title {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #667085;
  text-align: center;
}

.body_box {
  background: #f6f6f6;
  width: 915px;
  height: 86px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-top: 16px;
}

.logo_img {
  height: 48px;
  width: 100%;
}

.hidden_mobile {
  display: none;
}
.hidden_pc {
  display: flex;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .companies_title {
    width: 199px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
  }

  .companies_section {
    height: 116px;
    width: 380px;
    margin: 136px auto 0px auto;
  }

  .body_box {
    width: 380px;
    height: 86px;
    margin-top: 16px;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 16px;
  }

  .logo_img {
    height: 20px;
    width: 100%;
  }

  .hidden_pc {
    display: none;
  }
  .hidden_mobile {
    display: flex;
  }
}

/* @media only screen and (min-width: 601px) { 
  
  
} */
