* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.main_style {
  max-width: 1440px;
  background: #fdfcfc;

  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

/* ======== hero section style ========  */

.hero_section {
  max-height: 450px;
  max-width: 1065px;
  /* background-color: aqua; */
  display: flex;
  /* column-gap: 30px; */
}

.main_heading {
  max-width: 540px;
  min-height: 192px;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #272d38;
  padding-top: 40px;
}

.banner_description {
  max-width: 525px;
  min-height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27.5px;
  padding-top: 10px;
}

.banner_btn {
  font-weight: 600;
  size: 16px;
  line-height: 27.5px;
  text-align: center;
  width: 167px;
  height: 48px;
  border-radius: 8px;
  background: #8EADD5;
  color: #FFFFFF;
  border: none;
  margin-top: 20px;
}

.test {
  background-color: blueviolet;
}
