* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.main_style {
  width: 1440px;
  /* background: skyblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
  /* position: relative; */
}

.one-gradient {
  position: absolute;
  width: 679px;
  height: 679px;
  border-radius: 50%;
  right: -150px;
  top: 1220px;
  margin: 167px 0 0 0;
}

.two-gradient {
  position: absolute;
  width: 679px;
  height: 679px;
  border-radius: 50%;
  left: -40px;
  top: -250px;
  margin: 167px 0 0 0;
}

.common_btn {
  font-weight: 600;
  size: 16px;
  line-height: 27.5px;
  text-align: center;
  width: 167px;
  height: 48px;
  border-radius: 8px;
  background: #8eadd5;
  color: #ffffff;
  border: none;
  /* margin-top: 20px; */
  text-transform: uppercase;
}

.pos_center_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div_center_both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.hidden_mobile {
  display: none;
}

.hidden_pc {
  display: block;
}

.view_port {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .main_style {
    width: 428px;
    margin: 0 auto;
  }

  .responsiveClass {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .one-gradient {
    position: absolute;
    width: 379px;
    height: 379px;
    border-radius: 50%;
    right: 65px;
    top: 1220px;
    margin: 167px 0 0 0;
  }

  .two-gradient {
    position: absolute;
    width: 379px;
    height: 379px;
    border-radius: 50%;
    left: -20px;
    top: -250px;
    margin: 167px 0 0 0;
  }

  .hidden_mobile {
    display: block;
  }
  .hidden_pc {
    display: none;
  }
}
