/* Navbar related CSS Styles  */

.nav_section {
  height: 28px;
  width: 1065px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
}

.logo_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  color: #272d38;
}

.nav_link_group {
  /* font-weight: 400;
  font-size: 18px;
  line-height: 27.5px;
  color: #272d38; */
  display: flex;
  column-gap: 40px;
}

.nav_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27.5px;
  color: #272d38;
  text-decoration: none;
}
