/* Navbar related CSS Styles  */

.nav_section {
  height: 28px;
  width: 1065px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
  position: relative;
  background: transparent;
}

.mobile_menu_view {
  display: block;
  position: absolute;
  top: -40px;
  width: 90vw;
  height: 100vh;
  right: 0px;
  background: white;
  padding: 20px;
  z-index: 5;
}
.mobile_menu_hide {
  display: none;
}

.mobile_open_menu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
  font-weight: 500;
  
}

.logo_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  color: #272d38;
}

.nav_link_group {
  display: flex;
  column-gap: 44px;
}

.nav_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27.5px;
  color: #272d38;
  text-decoration: none;
}

.burgerMenu {
  display: none;
  z-index: 3;
}



@media only screen and (max-width: 600px) {
  .nav_section {
    height: 24px;
    width: 380px;
    padding-left: 10px;
  }

  .burgerMenu {
    display: inline-block;
  }

  .nav_link_group {
    display: none;
  }
}
