.footer_section {
  height: 443px;
  width: 100vw;
  margin-top: 138.57px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.footer_layout {
  width: 1065px;
  height: 443px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 105px;
  margin: 0 auto;
}

.main_category {
  font-weight: 700;
  font-size: 18px;
  line-height: 27.5px;
  color: #272d38;
  margin-bottom: 32px;
}

.footerLink {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-top: 40px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #272d38;
  width: 189.29px;
  margin-bottom: 24px;
}

.copyright {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  height: 16px;
  /* margin-top: 110px; */
  margin-bottom: 18px;

}

@media only screen and (max-width: 600px) {
  .footer_section {
    height: fit-content;
    /* width: 428px; */
    width: max-content;
    margin-top: 112px;
  }
  
  .footer_layout {
    height: fit-content;
    width: 428px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
    padding-top: 104px;
  }

  .main_category { 
    padding-top: 40px;
  }
}
