.footer_section {
  height: 443px;
  width: 100vw;
  margin-top: 138.57px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-top: 105px;
}

.footer_body {
  width: 1065px;
  height: 443px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  column-gap: 178.39px;
}

.footer_layout {
  display: grid;
  width: 875.7px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  /* align-items: center; */
  column-gap: 177px;
  /* background: red; */
}

.main_category {
  font-weight: 700;
  font-size: 18px;
  line-height: 27.5px;
  color: #272d38;
  margin-bottom: 32px;
}

.footer_type {
  color: #272d38;
  width: 189.291px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: capitalize;
  margin-top: 40px;
}

.footerLink {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-top: 32px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #272d38;
  /* width: 189.29px; */
  margin-bottom: 24px;
}

.copyright {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  height: 16px;
  /* margin-top: 110px; */
  margin-bottom: 18px;
}

.main_logo {
  font-weight: 700;
  font-size: 18px;
  width: 170px;
  text-transform: uppercase;
  line-height: 27.5px;
  color: #272d38;
}

@media only screen and (max-width: 767px) {
  .footer_section {
    height: fit-content;
    width: max-content;
    margin-top: 112px;
    padding-top: 53px;
  }

  .main_logo {
    color: #272d38;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    text-transform: capitalize;
    /* margin-bottom: 34px; */
  }

  .footer_logo {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
  }

  .footer_body {
    width: 428px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: fit-content;
    column-gap: 100px;
    padding: 20px;
  }

  .footer_layout {
    grid-template-columns: repeat(1, 1fr);
    justify-items: left;
    text-align: left;
    /* margin: -30px; */
    width: 250px;
    padding: 20px;
    justify-content: baseline;
  }

  .main_category {
    padding-top: 0px;
    text-align: left;
  }
}
