/* ======== hero section style ========  */

.hero_section {
  max-height: 450px;
  width: 1065px;
  display: flex;
  justify-content: space-between;
  margin-top: 99px;
}

.main_heading {
  max-width: 540px;
  min-height: 192px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #272d38;
  padding-top: 40px;
  text-transform: capitalize;
}

.banner_description {
  max-width: 500px;
  min-height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27.5px;
  margin-top: 24px;
  text-transform: capitalize;
}


.heroImg {
  width: 450px;
  height: 450px;
}

@media only screen and (max-width: 600px) {
  .hero_section {
    min-height: 665px;
    width: 378px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 167px; */
    margin: 78px auto 0px auto;
    /* padding: 0 25px; */
  }

  .main_heading {
    max-width: 378px;
    min-height: 56px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #272d38;
    padding-top: 40px;
    text-align: center;
  }

  .banner_description {
    max-width: 525px;
    min-height: 56px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27.5px;
    margin-top: 24px;
  }

  .heroImg {
    width: 358px;
    height: 358px;
    margin-top: 48px;
  }
}
